@mixin align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin section-header-title {
    font-size: 32px;
    font-weight: bold;
}

@mixin section-title {
    font-size: 24px;
    font-weight: bold;
}