.blog {
    .blog__header {
        .title {
            @include section-header-title;
            margin-top: 16px;
        }

        .btn-wrapper {
            display: flex;
            justify-content: end;
            .btn-view-all {
                &:hover {
                    background-color: $bg-btn;
                    color: $white;
                }
            }
        }
    }

    .note {
        padding-top: 64px;
    
        .note__wrapper {
            background-color: $bg-section-text;
            padding: 64px;
        }
    
        .note__content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            gap: 16px;
    
            .note-text {
                font-size: 32px;
                line-height: 1.5;
                font-style: italic;
            }
        }

        .note__img {
            position: relative;
            .note__icon {
                position: absolute;
                bottom: 16px;
                right: 16px;
                padding: 18px 24px;
                background-color: $white;
                border-radius: 50%;
                font-size: 18px;
                color: $icon-play-video;
                cursor: pointer;
            }
        }
    }

    //tablet and mobile
    @media (max-width: $desktop) {
        .note {
            .note__img {
                margin-top: 32px;
            }
        }
    }

    //mobile
    @media (max-width: $tablet) {
        .blog__header {
            .title {
                font-size: 24px;
                text-align: center;
                margin-bottom: 16px;
            }
            .btn-wrapper {
                justify-content: center;
            }
        }
        .note {
            .note__content {
                .note-text {
                    font-size: 18px;
                }
            }
        }
    }
}