.features {
    background-color: $main-bg;

    .features__header {
        .features-title {
            @include section-header-title;
            margin-top: 24px;
        }

        .features__view {
            display: flex;
            justify-content: end;
            gap: 16px;
            margin: 16px 0;

            .category {
                border: none;
                outline: none;
                background-color: transparent;
            }

            .btn-view-all {
                &:hover {
                    background-color: $bg-btn;
                    color: $white;
                }
            }
        }
    }

    .courses {
        margin-top: 16px;
    }
    @media (max-width: $tablet){
        .features__header {
            .features-title {
                text-align: center;
            }
            .features__view {
                justify-content: center;
            }
        }
    }
}