.header {
    width: 100%;
    position: fixed;
    top: 0;
    padding: 16px 0;
    background-color: $white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 9;

    .header__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header__logo {
        @include align-center;
        cursor: pointer;

        .header__logo-title {
            @include section-title;
        }
    }

    .header__nav {
        flex: 1;
        margin-left: 40px;
    }

    .mobile-menu {
        display: none;
    }

    @media (max-width: $desktop) {
        .header__nav {
            display: none;
        }

        .mobile-menu {
            display: block;
            &__icons {
                display: flex;
                gap: 16px;
            }

            &__icon {
                cursor: pointer;
            }
        }
    }
}