.products {
    .filter-text {
        height: 100%;
        min-width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        border: 1px solid $text-color;
        border-radius: 5px;
        color: $text-color;
        cursor: pointer;
    }

    .product-filter {

        .product-filter__items {
            display: flex;
            justify-content: center;
            gap: 16px;
            overflow-x: auto;

            .product-filter__items::-webkit-scrollbar {
                display: none;
            }

            .product-filter__item {
                padding: 16px;
                background-color: $main-bg;
                color: $text-color;
                cursor: pointer;
                border-radius: 5px;
            }
        }
    }

    .product-card__wrapper {
        .product-card {
            margin-top: 24px;
        }
    }

    // mobile
    @media (max-width: $tablet) {
        .select-filter{
            margin: 16px 0;

            .product-filter {
                &__item {
                    margin: 32px 0;
                }
            }
        }

        .action-filter {
            padding: 8px;
        }
    }
}